[submodule "AsciiGraph"]
	path = AsciiGraph
	url = git@github.com:Jkutkut/PY-AsciiGraph.git
[submodule "API42"]
	path = API42
	url = git@github.com:Jkutkut/PY-API42.git
[submodule "Nanoshell"]
	path = Nanoshell
	url = git@github.com:Jkutkut/PY-NanoShell.git
